# Drizzle
# Replace with your DB credentials!
DATABASE_URL=libsql://absensi-mamadz07.aws-ap-northeast-1.turso.io
# A local DB can also be used in dev as well
# DATABASE_URL="file:local.db"
DATABASE_AUTH_TOKEN=eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9.eyJhIjoicnciLCJpYXQiOjE3Nzc4NjIwNTUsImlkIjoiMDE5ZGYwZDUtZjgwMS03MDNmLThmODMtMDEzYzAwODY5ODk0IiwicmlkIjoiZjBhZGRmZWMtMzA3ZC00MWQ4LWEyMDUtODE0MDg5NmYyNWI3In0.XOet7bkHuuzWu5yfmQrGY9CVuloageJ0P_H1NHkVqKYYLiZRd5oNk2MTBoYYhE3EoQe-4OR703w5kwehcHXRAQ
